{% extends 'base.html' %}




{% block content %}
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
    var stage, circle, rect, station, laststation, stationgraphics;
    var rectsize = 50;
    var counter = 0;
    var storage = [];
    stations = [];

    function init() {
        // Set stage
        counter = 0;
        stations = [];
        stage = new createjs.Stage("demoCanvas");
        
        // Set circle
        circle = new createjs.Shape();
        circle.graphics.beginFill("DeepSkyBlue")
            .drawCircle(0, 0, 5);
        circle.x = 100;
        circle.y = Math.floor(stage.canvas.width / 3);

        // Set station
        station = new createjs.Shape();
        station.graphics.beginFill("Grey")
            .drawRect(0,0,rectsize, rectsize);
        station.x = Math.floor(stage.canvas.width / 2);
        station.y = circle.y - 25;

        // Event ticker
        createjs.Ticker.addEventListener("tick", update);

        // Set ticker
        createjs.Ticker.setFPS(60);
        
        // Add objects to stage
        stage.addChild(circle);
        stage.addChild(station);

    }
    
    // within x pixels
    function within(x,y,z=10) {
        // x is within z of y
        if (Math.abs(x - y) < z) {
            return true;
        }
        return false;
    }

    // Fill the station
    function fillStation() {
        if (within(circle.x, station.x)) {
            if (within(circle.y, station.y, 30)) {
                station.scaleX = station.scaleX + .05;
                station.scaleY = station.scaleY + .05;
                station.y = station.y - 1;
                circle.x = 0;
            }
        }
        if (station.scaleX > 1.5) {
            station.scaleX = 1;
            station.scaleY = 1;
            station.y = circle.y - 25;
        }
    }
    var temp;
    function exhale() {
        // Add a new node to the station.
        temp = new createjs.Shape();
        temp.graphics.beginFill("Red")
            .drawCircle(0, 0, 5);
        return temp;
    }
    function move_child() {
        if (!node) {
            node = nodes.shift();
            node.x = station.x + rectsize + 10;
            node.y = circle.y;
            stage.addChild(node);
        }
        else {
            node.x = node.x + 5;
            if (node.x > stage.canvas.width) {
                stage.removeChild(node);
                node = null;
            }
        }
    }
    function insert_nodes() {
        if (within(circle.x, station.x, 10.1)) {
            // Fill the station
            if (within(circle.y, station.y, 35)) {
                if (!node) {
                    node = exhale();
                    nodes.push(node);
                }
            }
        }
    }
    function move_main_circle() {
        circle.x = circle.x + 5;
    }
    function pause() {
        if (paused) {
            paused = false;
        }
        else {
            paused = true;
        }
    }
    // Update view
    var node;
    var nodes = [];
    var paused = false;
    document.onkeydown = checkKey;
    function checkKey(e) {
        e = e || window.event;

        if (e.keyCode == '38') {
            circle.y = circle.y - 5;
        }
        else if (e.keyCode == '40') {
            circle.y = circle.y + 5;
        }
        else if (e.keyCode == '37') {
            circle.x = circle.x - 5;
        }
        else if (e.keyCode == '39') {
            circle.x = circle.x + 5;
        }

    }
    function update(event) {
        if (!paused) {
            stage.update(event); // important
            // Move blue circle and fill station if there's less than 10 nodes
            // move_main_circle();
            fillStation();
            insert_nodes();
            move_child();
        }
    }
</script>
<div>
    <button onclick="init();">Begin Game</button>
    <button onclick="pause();">Pause</button>
    <canvas id='demoCanvas', width=800 height=560 style="border: solid 1px;">
    </canvas>

</div>
{% endblock %}