{% extends 'base.html' %}




{% block content %}
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script>
    var stage, circle, rect, station, laststation, stationgraphics;
    var rectsize = 50;
    var counter = 0;
    var storage = [];
    var nodes = [];
    var circleSpeed = 15;
    var paused = false;
    var emptying = false;
    var text;
    var counter;
    var node;
    var exhaleTemp;
    var newtext;

    function init() {
        // Set stage
        stations = [];
        nodes = [];
        stage = new createjs.Stage("demoCanvas");

        // Set text
        text = new createjs.Text("Fill the station!", "20px Arial", "black");
        text.x = 100;
        text.y = 100;
        stage.addChild(text);
        
        // Set circle
        circle = new createjs.Shape();
        circle.graphics.beginFill("DeepSkyBlue")
            .drawCircle(0, 0, 5);
        circle.x = 100;
        circle.y = Math.floor(stage.canvas.width / 3);

        // Set station
        station = new createjs.Shape();
        station.graphics.beginFill("Grey")
            .drawRect(0,0,rectsize, rectsize);
        station.x = Math.floor(stage.canvas.width / 2);
        station.y = circle.y - 25;

        // Event ticker
        createjs.Ticker.addEventListener("tick", update);

        // Set ticker
        createjs.Ticker.setFPS(60);
        
        // Add objects to stage
        stage.addChild(circle);
        stage.addChild(station);

    }
    
    // within x pixels
    function within(x,y,z=10) {
        // x is within z of y
        if (Math.abs(x - y) < z) {
            return true;
        }
        return false;
    }

    // Fill the station
    function fillStation() {
        if (within(circle.x, station.x)) {
            if (within(circle.y, station.y, 30)) {
                // insert_nodes();
                nodes.push(exhale());
                circle.x = 0;
                circle.y = Math.floor(stage.canvas.width / 3);
            }
        }
    }
    function exhale() {
        // Add a new node to the station.
        exhaleTemp = new createjs.Shape();
        exhaleTemp.graphics.beginFill("Red")
            .drawCircle(0, 0, 5);
        return exhaleTemp;
    }
    function move_child() {
        if (!node) {
            node = nodes.shift();
            node.x = station.x + rectsize + 10;
            node.y = Math.floor(stage.canvas.width / 3);
            stage.addChild(node);
        }
        else {
            node.x = node.x + 5;
            if (node.x > stage.canvas.width) {
                stage.removeChild(node);
                node = null;
            }
        }
    }
    function insert_nodes() {
        // Fill the station
        
    }
    function move_main_circle() {
        circle.x = circle.x + circleSpeed;
    }
    function pause() {
        if (paused) {
            paused = false;
        }
        else {
            paused = true;
        }
    }
    // Update view
    /*
    document.onkeydown = checkKey;
    function checkKey(e) {
        e = e || window.event;

        if (e.keyCode == '38') {
            circle.y = circle.y - circleSpeed;
        }
        else if (e.keyCode == '40') {
            circle.y = circle.y + circleSpeed;
        }
        else if (e.keyCode == '37') {
            circle.x = circle.x - circleSpeed;
        }
        else if (e.keyCode == '39') {
            circle.x = circle.x + circleSpeed;
        }

    }*/
    function updateCounter() {
        counter = nodes.length;
        if (newtext) {
            stage.removeChild(newtext);
            newtext = new createjs.Text(counter, "20px Arial", "black");
            newtext.x = station.x + Math.ceil(rectsize/2);
            newtext.y = station.y + Math.ceil(rectsize/2);
            stage.addChild(newtext);
        }
        else {
            newtext = new createjs.Text(counter, "20px Arial", "black");
            newtext.x = station.x + Math.ceil(rectsize/2);
            newtext.y = station.y + Math.ceil(rectsize/2);
            stage.addChild(newtext);
        }
    }
    function emptyQueue(maxfill) {
        if (!emptying) {
            move_main_circle();
        }
        if (counter == maxfill) {
            emptying = true;
        }
        if (emptying) {
            if (counter == 0) {
                emptying = false;
            }
        }
    }
    function update(event) {
        if (!paused) {

            stage.update(event); // important
            // Move blue circle and fill station if there's less than 10 nodes
            emptyQueue(50);
            updateCounter();
            fillStation();
            move_child();
        }
    }
</script>
<div>
    <button onclick="init();">Begin Game</button>
    <button onclick="pause();">Pause</button>
    <canvas id='demoCanvas', width=800 height=560 style="border: solid 1px;">
    </canvas>

</div>
{% endblock %}