
<!DOCTYPE html>
{% set user = session.get('user', None) %}
{% block head %}
    <title>Briostack Dashboard</title>
    <!--Twitter Boostrap-->
    <link rel=stylesheet type=text/css href="/static/bootstrap/css/bootstrap.min.css/">

    <!--CreateJS-->
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

    <!--DataTablesJS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li id="{{ url_for('index') }}"><a class="navbar-brand" href="{{ url_for('index') }}">Briostack {{ " - {}".format(user) if user else "" }}</a></li>
                <li id="{{ url_for('client_statuses')  }}"><a href="{{ url_for('client_statuses')  }}">Clients</a></li>
                {% if not session.logged_in %}
                    <li id="{{ url_for('login') }}"><a href="{{ url_for('login') }}">Log in</a></li>
                {% else %}
                    <li id="{{ url_for('my_clients') }}"><a href="{{ url_for('my_clients')  }}">My Clients</a></li>
                    <li id="{{ url_for('submit_client_form') }}"><a href="{{ url_for('submit_client_form') }}">Create New Client</a></li>
                    <li id="{{ url_for('update_client_form') }}"><a href="{{ url_for('update_client_form') }}">Update Client</a></li>
                    <li id="{{ url_for('submit_sql') }}"><a href="{{ url_for('submit_sql') }}">Submit SQL</a></li>
                    <li id="{{ url_for('game') }}"><a href="{{ url_for('game') }}">Play a little game</a></li>
                    <li id="{{ url_for('logout') }}"><a href="{{ url_for('logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </nav>
        <br>

        <!--Flashed Messages-->
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}

        <!--Content block-->
        {% block content %}{% endblock %}
    </div>
    <hr>
    <style>
        .link {
            /*font-size: 16px;*/
        }
        #active {
            font-weight: bold;
        }
    </style>
    <script>
        var active = document.getElementById(window.location.pathname);
        active.className = active.className + " active";
    </script>
{% endblock %}