
<!DOCTYPE html>
{% set user = session.get('user', None) %}
{% set login_time = session.get('login_time', None) %}
{% block head %}
    <title>Briostack Dashboard</title>
    
    <!--Viewport adjustments for mobile friendliness-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--React.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>

    <!--D3.js-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <!--JQuery-->
    <script type="text/javascript" src="/static/jquery-3.2.1.slim.min.js"></script>
    
    <!--Boostrap-->
    <link rel=stylesheet type=text/css href="/static/bootstrap/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="/static/bootstrap/css/bootstrap-responsive.min.css">
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>

    <!--CreateJS-->
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

    <!--DataTablesJS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>
    
    <!--Navbar-->
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li id="{{ url_for('index') }}"><a class="navbar-brand" href="{{ url_for('index') }}" style="font-size: 16px; font-weight: bold;">Briostack</a></li>
            <li id="{{ url_for('client_statuses')  }}"><a href="{{ url_for('client_statuses')  }}">Dashboard</a></li>
            {% if not session.logged_in %}
                <li id="{{ url_for('login') }}"><a href="{{ url_for('login') }}">Log in</a></li>
            {% else %}
                <li id="{{ url_for('my_clients') }}"><a href="{{ url_for('my_clients')  }}">My Clients</a></li>
                <!--<li id="{{ url_for('game') }}"><a href="{{ url_for('game') }}">Play a little game</a></li>-->
                <li id="{{ url_for('logout') }}"><a href="{{ url_for('logout') }}">Log out</a></li>
            {% endif %}
        </ul>
    </nav>
<!--Flashed Messages-->
{% if get_flashed_messages() %}
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert 
        {% if 'Success' in message %}    alert-success
        {% elif 'Fail' in message %}    alert-danger
        {% elif 'Info' in message %}    alert-info
        {% elif 'Warning' in message %}    alert-warning
        {% endif %} alert-dismissable">
            {{ message }}
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% endblock %}


{% block body %}
    <!--Content block-->
    <div class="container-fluid">
        
        <!--Content block-->
        {% block content %}
        {% endblock %}

        <!--Table/Data section-->
        <div class="tableDiv">
        {% block table %}
        {% endblock %}
        </div>
    </div>

    <!--Bottom bar-->
    {% if user %}
        <div class=container style="bottom: 0px; position: fixed; height: 30px; width: 100%" align=center>
             <span><strong>Logged In Since</strong>: {{ login_time }}</span>
             |
             <span><a href="{{ url_for('change_password') }}">Change Password</a></span>
             |
             <span><a href="{{ url_for('game') }}">Game.js</a></span>
        </div>
    {% endif %}

    <!--Extra CSS-->
    <style>
        .active {
            font-weight: bold;
        }
        th {
            font-size: 16px;
        }
        .tableDiv {
            width: 100%;
            overflow-x: auto;
        }
    </style>

    <!--Extra scripting-->
    <script>
        var active = document.getElementById(window.location.pathname);
        active.className = active.className + " active";
    </script>
{% endblock %}