
<!DOCTYPE html>
{% block head %}
    <title>Briostack Dashboard</title>
    <link rel=stylesheet type=text/css href="/static/bootstrap/css/bootstrap.min.css/">
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
{% endblock %}




<div>
    {% set user = session.get('user', None) %}
    <h1>Briostack Dashboard {{ " - {}".format(user) if user else "" }}</h1>
    {% block navbar %}
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('client_statuses')  }}">Client Status</a>
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Log in</a>
                {% comment %}<a href="/register">Register</a>{% endcomment %}
            {% else %}
                <a href="{{ url_for('my_clients')  }}">My Clients</a>
                <a href="{{ url_for('submit_client_form') }}">Create New Client</a>
                <a href="{{ url_for('update_client_form') }}">Update A Client</a>
                <a href="{{ url_for('submit_sql') }}">Submit SQL</a>
                <a href="{{ url_for('game') }}">Play a little game</a>
                <a href="{{ url_for('logout') }}">Log out</a>
            {% endif %}
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
    {% endblock %}
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
    </div>
</div>