{% extends 'base.html' %}
{% block content %}
    <h2>Change Your Password</h2>

    <!--Submit Form-->
    <form action="{{ url_for('execute_change_password') }}" method=post>
        <dl>
            <dt>Old Password:
            <dd><input type="password" name=oldPassword>
            <dt>New Password:
            <dd><input type="password" name=newPassword>
            <dt>Confirm Password:
            <dd><input type="password" name=newPassConf>
            <br><dd><input class=btn type="submit" value=Submit>
        </dl>
    </form>
{% endblock %}