{% extends 'base.html' %}


{% block content %}
    <!--Client table-->
    <h2><strong>{{ title }}</strong></h2>
    <div class="container-fluid">
        <div class="row">
            {% for k, v in counts.items() %}
                {% set backgroundColor = status_colors.get(k, 'white') %}
                {% set textColor = text_colors[k] %}
                <div class="col-sm-4" style="
                        background-color: {{ backgroundColor }};
                        color: {{ textColor }};">                    
                    {{ k }}: {{ v }}
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <table id="BrioClientTable" class="stripe" width="100%" cellspacing="0">
        <thead>
            <th>Client</th>
            <th>Status</th>
            <!--<th>Instance URL</th>-->
            <th>Assignee</th>
            <th>ETA</th>
            <th>Notes</th>
            <th>Created</th>
            <!--<th>Updated</th>-->
            <th>Queue Days</th>
            <!--<th>Update Days</th>-->
        </thead>

        <tbody>
        {% for index, row in data.iterrows() %}
            {% set name = row['name'] %}
            {% set status = row['status'] %}
            {% set instance_url = row['instance_url'] %}
            {% set assignee = row['assignee'] %}
            {% set eta = row['estimated_completion'] %}
            {% set notes = row['import_notes'] %}
            {% set created = row['created_timestamp'] %}
            {% set updated = row['updated_timestamp'] %}
            {% set queue_days = row['queue_days'] %}
            {% set update_days = row['update_days'] %}

            {% set backgroundColor = status_colors.get(status, 'white') %}
            {% set textColor = text_colors[status] %}
            <tr>
                <td><a href="{{ instance_url if instance_url else url_for('client_statuses') }}">
                    {{ name }}
                    </a>
                </td>
                <td style="
                        background-color: {{ backgroundColor }};
                        color: {{ textColor }};">
                    {{ status if status else "" }}
                </td>
                <td>{{ assignee if assignee else "" }}</td>
                <td>{{ eta if eta else "" }}</td>
                <td><a href="{{ url_for('full_note', note=notes) }}">{{ notes[:18] + "..." if notes else ""}}</a></td>
                <td>{{ created if created else "" }}</td>
                <!--<td>{{ updated if updated else "" }}</td>-->
                <td>{{ queue_days if queue_days else "" }}</td>
                <!--<td>{{ update_days if update_days else "" }}</td>-->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--Auto refresh page-->
    <script>
        $(document).ready(function() {
            $('#BrioClientTable').DataTable( {
                "order" : [[5, "asc"]]
            } );

        })
    </script>
    <script src="/static/autoRefresh.js"></script>
{% endblock %}