{% extends 'base.html' %}
{% block content %}
    <h1>
        <strong>
        <div class="row">
        <div class="col-sm-4">{{ league }}</div>
        <div class="col-sm-4">{{ game }}</div>
        <div class="col-sm-4">
            <a href="{{ url_for('end_ranbat') }}">
                <button class="btn btn-danger">
                    End Ranbat
                </button>
            </a>
        </div>
        </div>
        </strong>    
    </h1>
    <br>
    <form action="{{ url_for('submitMatch') }}" method=POST>
        
        <script>
            var options = [];
            var val;
            var addToWinner = function(id) {
                val = document.getElementById(id).value;

                if (options.indexOf(val) == -1) {
                    // Append to winner options
                    $("#winnerSelect")
                        .append($("<option>", {
                            value : val,
                            text : val,
                            }
                        ));
                    // Push to options list;
                    options.push(val);
                }
            };
        </script>
        <div class=row>
            
        <div class="col-xs-3">
            <select class="btn btn-info" name=p1 id=p1 onchange="addToWinner('p1')">
                <option value="">Select Player 1</option>
                {% for gamer in players %}
                    <option value="{{ gamer }}">{{ gamer }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-xs-3">
            <select class="btn btn-info" name=p2 id=p2 onchange="addToWinner('p2')">
                <option value="">Select Player 2</option>
                {% for gamer in players %}
                    <option value="{{ gamer }}">{{ gamer }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-xs-3">
            <select class="btn btn-info" name=char1>
                <option value="">Select Player 1's character</option>
                {% for char in characters %}
                    <option value="{{ char }}">{{ char }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-xs-3">
            <select class="btn btn-info" name=char2>
                <option value="">Select Player 2's character</option>
                {% for char in characters %}
                    <option value="{{ char }}">{{ char }}</option>
                {% endfor %}
            </select>
        </div>

        </div>
        
        <select name=winner id=winnerSelect>
            <option value="">Select Winner</option>
        </select>

        <br><br>

        <input class="btn btn-success" type="submit" name=Submit value=Submit>
        
        {% if data|length > 0 %}
        <table id=ranbatTable>
            {% for index, row in data.iloc[::-1][:25].iterrows() %}
                <tr>
                    {% for col in data.columns %}
                        <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% endif %}


        <script>
            var check_match = function() {
                var p1, p2;
                p1 = document.getElementById('p1').nodeValue;
                p2 = document.getElementById('p2').nodeValue;
            }

            $(document).ready(function() {
                $('#ranbatTable').DataTable();
            });
        </script>
    </form>
{% endblock %}