{% extends 'base.html' %}
{% set n_cols = 12//4 %} <!--Number of columns for user-->
{% block content %}
    <h1><strong>My Clients</strong> - {{ user }}</h1>
    <hr>
    <script>
        var showHide = function(id) {
            var div = document.getElementById(id);
            if (div.style.display == 'none') {
                div.style.display = 'block';
            }
            else {
                div.style.display = 'none';
            }
        };
    </script>
    <div class="row">

        <!--New Client Form-->
        <div class="col-sm-{{ n_cols }}">
            <h2><button class="btn btn-info btn-block" onclick="showHide('newClientForm');">New Client</button></h2>
            <form id=newClientForm action="{{ url_for('submit_client') }}" method=post style="display: none;">
                <dl>
                    <dt>Client Name
                    <dd><input type="text" name=client_name>
                    <dt>Instance URL
                    <dd><input type="text" name=client_url>
                    <dt>Import URL
                    <dd><input id=noteInput onclick="ExpandField('noteInput');" type="text" name=client_import_url>
                    <br><br>
                    <dd><input class="btn btn-primary" type="submit" value=Submit>
                </dl>
            </form>
        </div>
    
        <!--Update client form-->
        <div class="col-sm-{{ n_cols }}">
            <h2><button class="btn btn-info btn-block" onclick="showHide('updateClientForm');">Update Client</button></h2>
            <form id=updateClientForm action="{{ url_for('update_client') }}" method=POST style="display: none;">
                <dl>
                    <dt>Client Name <!-- Drop box... Here-->
                    <dd><select name=client>
                            <option value="">Select Client</option>
                        {% for _ in myClients %}
                            <option value="{{ _ }}">{{ _ }}</option>
                        {% endfor %}
                    </select>
                    <dt>Status
                    <dd><select name=status>
                            <option value="">Select Status</option>
                            {% for _ in statii %}
                                <option value="{{ _ }}">{{ _ }}</option>
                            {% endfor %}
                        </select>
                    <dt>Estimated Completion
                    <dd><input type=text name="estimated_completion">
                    <dt>Notes
                    <dd><textarea id="updateField" onclick="ExpandField('updateField');" onblur="ShrinkField('updateField');"
                        type=text name="import_notes" value=""></textarea>
                    <br><br>
                    <dd><input class="btn btn-primary" type="submit" value=Submit>
                </dl>
            </form>
        </div>
        
        <!--Client Exchange-->
        <div class="col-sm-{{ n_cols }}">
            <h2><button class="btn btn-info btn-block" onclick="showHide('exchangeClientForm');">Client Exchange</button></h2>
            <form id=exchangeClientForm action="{{ url_for('execute_exchange') }}" method=POST style="display: none;">
                <dl>
                    <dt>Take Client
                    <dd><select name=client>
                        <option value="">Select a client to take</option>
                        {% for client in clients%}
                            <option value="{{ client }}">{{ client }}</option>
                        {% endfor %}
                    </select>
                    <dt>Give To
                    <dd><select name=giveTo>
                        <option value="">Give client to...</option>
                        {% for other_user in users %}
                            {% if other_user != user %} <!--Ensure the user can't give a client to themselves-->
                                <option value="{{ other_user }}">{{ other_user }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>
                    <dd><input class="btn btn-primary" type="submit" value=Submit>
                </dl>
            </form>
        </div>

        <!--SQL Entry Form-->
        <div class="col-sm-{{ n_cols }}">
            <h2><button class="btn btn-info btn-block" onclick="showHide('SQLForm');">Execute SQL</button></h2>
            <form id=SQLForm action="{{ url_for('execute_sql') }}" method=post style="display: none;">
                <dl>
                    <dt>SQL
                    <dd><textarea id="sqlArea" type="text" onclick="ExpandField('sqlArea');" onblur="ShrinkField('sqlArea');" name=sql></textarea>
                    <br><br>
                    <dd><input class="btn btn-primary" type="submit" value=Submit>
                </dl>
            </form>
        </div>
    </div>

    <!--<script src="/static/autoRefresh.js"></script>-->
{% endblock %}

{% block table %}
    <!--Client table-->
    <hr>
    <table id=MyClients class="stripe" width="100%" cellspacing="0">
        <thead>
            <th>Client</th>
            <th>Status</th>
            <th>Import URL</th>
            <th>ETA</th>
            <th>Notes</th>
            <th>Created</th>
            <th>Updated</th>
        </thead>
        <tbody>
            {% for index, row in data.iterrows() %}
                {% set name = row['name'] %}
                {% set status = row['status'] %}
                {% set instance_url = row['instance_url'] %}
                {% set import_url = row['import_url'] %}
                {% set eta = row['estimated_completion'] %}
                {% set notes = row['import_notes'] %}
                {% set created = row['created_timestamp'] %}
                {% set updated = row['updated_timestamp'] %}

                {% set backgroundColor = status_colors.get(status, 'white') %}
                {% set textColor = text_colors[status] %}
                <tr>
                    <td><a href="{{ instance_url if instance_url else url_for('client_statuses') }}">
                        {{ name }}
                        </a>
                    </td>
                    <td style="background-color: {{ backgroundColor }};
                        color: {{ textColor }};">
                        {{ status if status else "" }}
                    </td>
                    <td><a href="{{ import_url if import_url else url_for('client_statuses') }}">
                        {{ import_url[29:29 + 10] + "..." if import_url else "" }}</a>
                    </td>
                    <td>{{ eta if eta else "" }}</td>
                    <td><a href="{{ url_for('full_note', note=notes) }}">{{ notes[:30] + "..." if notes else "" }}
                        </a>
                    </td>
                    <td>{{ created if created else "" }}</td>
                    <td>{{ updated if updated else "" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Init datatable-->
    <script>
        $(document).ready(function() {
            $('#MyClients').DataTable();
        });
    </script>

    <!--Expand and shrink fields-->
    <script>
        var ExpandField = function(id) {
            var field = document.getElementById(id);
            field.style.width = '200%';
            field.style.height = '200%';
        };
        var ShrinkField = function(id) {
            var field = document.getElementById(id);
            field.style.width = '100%';
            field.style.height = '100%';
        }
    </script>
{% endblock %}