{% extends "base.html" %}
{% block content %}
    <p>Build a page for ranbat submnission form</p>
    <form action="{{ url_for('get_league_data') }}" method=POST>
        <select name='league'>
            <option value="">Select a league</option>
            {% for l in leagues %}
                <option value="{{ l }}">{{ l }}</option>
            {% endfor %}
        </select>
        <select name='game'>
            <option value="">Select a game</option>
            {% for g in games %}
                <option value="{{ g }}">{{ g }}</option>
            {% endfor %}
        </select>
        <input class=btn type="submit" name="submit" value="Submit">
    </form>    
{% endblock %}