{% extends 'base.html' %}
{% block content %}
    <h2>Login</h2>
    {% if error %}
        <p class=error><strong>Error:</strong>{{ error }}
    {% endif %}
    <form action="{{ url_for('submit_client') }}" method=post>
        <dl>
            <dt>Client Name:
            <dd><input type="text" name=client_name>
            <dt>Instance URL:
            <dd><input type="text" name=client_url>
            <dt>Import URL:
            <dd><input type="text" name=client_import_url>
            <dd><input type="submit" name=Login>
        </dl>
    </form>
{% endblock %}